// Font Families
$font-family-primary: "Poppins", sans-serif;

// Color Palette
$color-primary: #f2e6fc;
$color-secondary: #6f2496;
$color-white: #fff;
$color-black: #1a1c1e;

// Text Colors
$color-text-primary: #444444;
$color-text-secondary: #4d4d4d;

// Background Gradients
$gradient-background: linear-gradient(103.58deg, #fcf6f8 3.65%, #f0e4fc 99.08%);
$gradient-accent: linear-gradient(
  91.5deg,
  #1a64e2 0%,
  #991e8e 52.6%,
  #d52b1e 100%
);

// Typography Scale
$font-size-40: 2.5rem; // 40px
$font-size-20: 1.25rem; // 20px
$font-size-16_14: 1.009rem; // 16.14px
$font-size-16: 1rem; // 16px
$font-size-14: 0.875rem; // 14px
$font-size-12: 0.75rem; // 12px
$font-size-10: 0.625rem; // 10px

// Border Radius
$border-radius-medium-medium: 12px;
