@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(103.58deg, #fcf6f8 3.65%, #f0e4fc 99.08%);
  width: 100%;
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
}

li a,
a {
  text-decoration: none;
  color: #444444;
}
li a:hover,
a:hover {
  color: #444444;
}

.container-fluid {
  width: 1320px;
  max-width: 100%;
  margin: auto;
}

.btn {
  padding: 0.625rem 0.75rem;
  border: none;
  border-radius: 1.5rem;
  min-width: 7rem;
  font-size: 1rem;
}
@media (max-width: 1440px) {
  .btn {
    font-size: 0.85rem;
  }
}
@media (max-width: 991px) {
  .btn {
    font-size: 1rem;
  }
}

.btn-primary {
  background: #6f2496;
  color: #fff;
}

.btn-outline {
  border: 1px solid #6f2496;
  background: transparent;
  color: #6f2496;
  margin-left: 0.75rem;
}
@media (max-width: 991px) {
  .btn-outline {
    margin-left: 0;
    margin-top: 1rem;
  }
}

#mobile-hamburger {
  display: none;
}
@media (max-width: 991px) {
  #mobile-hamburger {
    display: flex;
    position: absolute;
    right: 1.5rem;
    top: 1.75rem;
  }
}

.hamburger {
  width: 30px;
  height: 21px;
  position: relative;
  top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10000;
}
.hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: #6f2496;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
}
@media (max-width: 1366px) {
  .navbar .logo img {
    width: 100px;
  }
}

.navbar-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1.5rem;
  position: relative;
}
@media (max-width: 1366px) {
  .navbar-tab {
    padding: 1rem;
  }
}
@media (max-width: 991px) {
  .navbar-tab {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .navbar-tab .navbar-btn {
    display: none;
    flex-direction: column;
    width: 100%;
  }
}

.navbar-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .navbar-flex {
    display: none;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .navbar-flex li {
    margin: 1rem 0;
  }
}
.navbar-flex li a {
  margin-inline: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.navbar-flex li a span {
  font-size: 1rem;
  font-weight: 300;
  margin-right: 0.75rem;
}
@media (max-width: 1440px) {
  .navbar-flex li a span {
    font-size: 0.85rem;
  }
}
@media (max-width: 991px) {
  .navbar-flex li a span {
    font-size: 1rem;
  }
}
.navbar-flex li a img {
  height: 1.5rem;
  width: 1.5rem;
}
@media (max-width: 1440px) {
  .navbar-flex li a img {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.main-block {
  border-radius: 2.5rem;
  background: #fff;
}

@media (max-width: 991px) {
  .navbar-flex.show,
  .navbar-btn.show {
    display: flex;
  }
}

.translator-section {
  text-align: center;
  padding-top: 7.375rem;
}
.translator-section .translator-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}
.translator-section .translator-wrapper .translator-title {
  margin-top: 3.25rem;
  margin-bottom: 4.188rem;
}
.translator-section .translator-wrapper .translator-title h1 {
  font-size: 2.5rem;
  font-weight: 600;
  background: linear-gradient(91.5deg, #1a64e2 0%, #991e8e 52.6%, #d52b1e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Firefox */
  background-clip: text;
  color: transparent;
}
@media (max-width: 767px) {
  .translator-section .translator-wrapper .translator-title h1 {
    padding-inline: 1rem;
  }
}
@media (max-width: 991px) {
  .translator-section .translator-wrapper .translator-title h1 {
    font-size: 2rem;
  }
}
.translator-section .translator-wrapper .translator-title p {
  color: #4f4f4f;
  font-weight: 400;
  font-size: 1.25rem;
  width: 45%;
  margin-inline: auto;
  margin-top: 1.2rem;
}
@media (max-width: 1440px) {
  .translator-section .translator-wrapper .translator-title p {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .translator-section .translator-wrapper .translator-title p {
    width: 85%;
  }
}
.translator-section .translator-wrapper .translate-box {
  border-radius: 20px;
  padding: 2.625rem 0.75rem;
  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  margin-inline: 1.5rem;
  margin-bottom: 10rem;
}
@media (max-width: 1366px) {
  .translator-section .translator-wrapper .translate-box {
    padding: 0.4rem;
    margin-inline: 1.25rem;
  }
}
.translator-section .translator-wrapper .translate-box .box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding-inline: 3rem;
  margin-top: 2rem;
}
@media (max-width: 1366px) {
  .translator-section .translator-wrapper .translate-box .box-header {
    padding-inline: 2rem;
    margin-top: 1.2rem;
  }
}
@media (max-width: 576px) {
  .translator-section .translator-wrapper .translate-box .box-header {
    flex-direction: column;
    gap: 1rem;
  }
}
.translator-section .translator-wrapper .translate-box .box-header h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #444444;
}
@media (max-width: 1366px) {
  .translator-section .translator-wrapper .translate-box .box-header h2 {
    font-size: 1.25rem;
  }
}
.translator-section .translator-wrapper .translate-box .box-header .right-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
.translator-section .translator-wrapper .translate-box .box-header .right-options .icon-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: #f1e9fb;
  border: none;
  color: #4d4d4d;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
@media (max-width: 1440px) {
  .translator-section .translator-wrapper .translate-box .box-header .right-options .icon-btn {
    font-size: 0.85rem;
  }
}
.translator-section .translator-wrapper .translate-box .box-header .right-options .icon-btn img {
  margin-right: 0.313rem;
}
.translator-section .translator-wrapper .translate-grid {
  margin-top: 1.625rem;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  border-radius: 16px;
  overflow: hidden;
  background: #f9f9f9;
  height: 40rem;
}
@media (max-width: 991px) {
  .translator-section .translator-wrapper .translate-grid {
    flex-direction: column;
  }
}
.translator-section .translator-wrapper .translate-grid .translate-side {
  flex: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
}
@media (max-width: 576px) {
  .translator-section .translator-wrapper .translate-grid .translate-side {
    padding: 1rem;
  }
}
.translator-section .translator-wrapper .translate-grid .translate-side .lang-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  width: fit-content;
  color: #444444;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1rem;
}
@media (max-width: 1440px) {
  .translator-section .translator-wrapper .translate-grid .translate-side .lang-btn {
    font-size: 0.85rem;
  }
}
.translator-section .translator-wrapper .translate-grid .translate-side .lang-btn img {
  margin-left: 0.375rem;
}
.translator-section .translator-wrapper .translate-grid .translate-side textarea {
  flex: 1;
  border: none;
  resize: none;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  border-radius: 8px;
  background: #f9f9f9;
}
@media (max-width: 1440px) {
  .translator-section .translator-wrapper .translate-grid .translate-side textarea {
    font-size: 1rem;
  }
}
.translator-section .translator-wrapper .translate-grid .translate-side .output-box {
  flex: 1;
  text-align: left;
  padding: 1rem;
  background: #f8f8f8;
  border-radius: 8px;
  font-size: 1.25rem;
  color: #808080;
}
@media (max-width: 1440px) {
  .translator-section .translator-wrapper .translate-grid .translate-side .output-box {
    font-size: 1rem;
  }
}
.translator-section .translator-wrapper .translate-grid .translate-side .bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .translator-section .translator-wrapper .translate-grid .translate-side .bottom-bar {
    margin-bottom: 0.75rem;
  }
}
@media (max-width: 480px) {
  .translator-section .translator-wrapper .translate-grid .translate-side .bottom-bar {
    flex-direction: column;
    gap: 0.75rem;
  }
}
.translator-section .translator-wrapper .translate-grid .translate-side .bottom-bar .total-char-count {
  color: rgba(77, 77, 77, 0.6);
  font-size: 1rem;
  font-weight: 500;
}
@media (max-width: 1440px) {
  .translator-section .translator-wrapper .translate-grid .translate-side .bottom-bar .total-char-count {
    font-size: 0.85rem;
  }
}
.translator-section .translator-wrapper .translate-grid .translate-side .bottom-bar .total-char-count .char-count {
  color: rgba(77, 77, 77, 0.8980392157);
}
.translator-section .translator-wrapper .translate-grid .translate-side .bottom-bar .actions {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: normal;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.translator-section .translator-wrapper .translate-grid .translate-side .bottom-bar .actions button {
  height: 3.125rem;
  width: 3.125rem;
  background: #fff;
  border: 1px solid rgba(119, 52, 146, 0.4);
  border-radius: 50%;
}
@media (max-width: 1366px) {
  .translator-section .translator-wrapper .translate-grid .translate-side .bottom-bar .actions button {
    height: 2.95rem;
    width: 2.95rem;
  }
}
.translator-section .translator-wrapper .translate-grid .translate-side .bottom-bar .actions .disabled {
  width: 7.5rem;
  height: 3.125rem;
  background: #F0F0F0;
  border-radius: 1.5rem;
  border: none;
  font-size: 1rem;
  color: rgba(68, 68, 68, 0.6);
  cursor: not-allowed;
}
@media (max-width: 1440px) {
  .translator-section .translator-wrapper .translate-grid .translate-side .bottom-bar .actions .disabled {
    font-size: 0.85rem;
  }
}
@media (max-width: 1366px) {
  .translator-section .translator-wrapper .translate-grid .translate-side .bottom-bar .actions .disabled {
    height: 2.95rem;
  }
}
.translator-section .translator-wrapper .translate-grid .translate-side .output-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1rem;
}
@media (max-width: 1366px) {
  .translator-section .translator-wrapper .translate-grid .translate-side .output-actions {
    gap: 1rem;
  }
}
@media (max-width: 576px) {
  .translator-section .translator-wrapper .translate-grid .translate-side .output-actions {
    flex-direction: column;
    gap: 1rem;
  }
}
.translator-section .translator-wrapper .translate-grid .translate-side .output-actions .tip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background: #F2E6FC;
  border: none;
  border-radius: 12px;
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: #5e2a8a;
}
.translator-section .translator-wrapper .translate-grid .translate-side .output-actions .tip img {
  margin-right: 0.625rem;
}
.translator-section .translator-wrapper .translate-grid .translate-side .output-actions .output-icons {
  display: flex;
  gap: 0.5rem;
}
.translator-section .translator-wrapper .translate-grid .translate-side .output-actions .output-icons button {
  background: #fff;
  border: none;
  border-radius: 50%;
  height: 3.125rem;
  width: 3.125rem;
}
@media (max-width: 1366px) {
  .translator-section .translator-wrapper .translate-grid .translate-side .output-actions .output-icons button {
    height: 2.95rem;
    width: 2.95rem;
  }
}
.translator-section .translator-wrapper .translate-grid .translate-side.right {
  padding-left: 2rem;
}
@media (max-width: 991px) {
  .translator-section .translator-wrapper .translate-grid .translate-side.right {
    padding-left: 1rem;
  }
}
.translator-section .translator-wrapper .translate-grid .divider {
  width: 1px;
  background: #ccc;
  position: relative;
}
@media (max-width: 991px) {
  .translator-section .translator-wrapper .translate-grid .divider {
    height: 1px;
    width: 100%;
  }
}
.translator-section .translator-wrapper .translate-grid .divider img {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 2.625rem;
  left: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 0.2rem;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 991px) {
  .translator-section .translator-wrapper .translate-grid .divider img {
    left: unset;
    top: -20px;
    transform: rotate(90deg);
  }
}/*# sourceMappingURL=stylesheets.css.map */